body{
    background-image: url('https://st3.depositphotos.com/10325396/18588/i/600/depositphotos_185889616-stock-photo-face-detection-and-recognition-of.jpg');
    background-repeat: no-repeat;
  background-size: cover;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* **************************************Navbar**************************************************** */
.nav-item{
    padding:10px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 

}
.nav-link{
    color: #FE53BB;
}
.navbar-brand{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    color: #FE53BB;
    font-size: 40px;
}

/* **********************************Text on homepage********************************************* */
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
.card-body{
    width:400px;
    height: 400px;
    background-color: black;
    color: white;
    margin-top: 15%;
    margin-left: 5%;
    border-radius: 40px;
}

#p-text{
    margin-top: 2.5rem;
}
.btn{
    margin:40px;
}
.btn-lg:hover{
    color: #FE53BB;
}

/******************** About page ***************************/
.card-body-about{
    width:700px;
    height: 500px;
    background-color: black;
    color: white;
    margin-top: 10%;
    margin-left: 20%;
    border-radius: 40px;
}
#p-text-about{
    padding: 3em;
    font-size: 18px;
}

/**************Result Page**************************/
.card-body-result{
    width:400px;
    height: 400px;
    background-color: black;
    color: white;
    margin-top: 10%;
    margin-left: 20%;
    border-radius: 40px;
}
#p-text-result{
    text-align: center;
    padding: 4em;
    font-size: 18px;
}