<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
<!-- Navbar Starts -->
  <nav class="navbar navbar-expand-lg navbar bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Recognito</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
     
        <form class="d-flex">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="about">About</a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link active" href="#" tabindex="-1" aria-disabled="true">Contact</a>
                </li>
              </ul>
        </form>
      </div>
    
  </nav>
  <!-- Navbar Ends -->

      <div class="container">
        <div class="card-body-about">
          <p id="p-text-about">The Recognito web application acts as an emotion detector, 
              allowing people to identify their emotions by looking at their faces.
               By keeping suspects on this project's radar, the web app will serve 
               as a truth-finder for the cops. Through its monitoring, this project
                will be able to see every emotion the suspect exhibits. Every 
                emotion will be tracked. After 24 hours, the most noted emotion 
                will be displayed after this app has been keeping a watchful eye 
                on culprits. As an example-if, the most observed emotion is 
                happiness, which means the culprit is not hiding anything and 
                is confident that he is not wrong. When most observed emotion 
                turns into fear, it likely means he has a secret and is not 
                telling anyone. There is no doubt that these predictions are 
                accurate because a person who is guilty will definitely become 
                nervous, and this nervousness,fear will definitely be evident on 
                his face. It is impossible for a detective to constantly watch a 
                criminal and his emotions, but this web app can do as much as it 
                can. In addition, it eliminates the need to hire additional employees
                 for observation. 
        </p>
       
         
        </div>
     
    </div>
</body>
</html>